<%= simple_form_for(@menu) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%#= f.input :parent, collection: Menu.all, prompt: '请选择父分类,不选择则为顶级分类' %>
    <%= f.input :name %>
    <%= f.input :ord %>
    <%= f.input :url %>
    <%= f.input :page, collection: Page.all, prompt: '请选择跳转到的页面' %>
    <%= f.input :post, collection: Post.all, prompt: '请选择跳转到的文章' %>
    <%= f.input :category, collection: Category.all, selected: :category, prompt: '请选择跳转到的分类' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
