<h1>Listing menus</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Ord</th>
      <th>url</th>
      <th>page</th>
      <th>post</th>
      <th>category</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @menus.each do |menu| %>
      <tr>
        <td><%= link_to menu.name, menu %></td>
        <td><%= menu.ord %></td>
        <td><%= menu.url %></td>
        <td><%= link_to menu.page, menu.page if menu.page %></td>
        <td><%= link_to menu.post, menu.post if menu.post %></td>
        <td><%= menu.category %></td>
        <td><%= link_to 'Edit', edit_menu_path(menu) %></td>
        <td><%= link_to 'Destroy', menu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Menu', new_menu_path %>
