<%# add navigation links to this file %>
<% @menus = Menu.all %>
<% @menus.each do |menu| %>
  <li><%= link_to menu.name, menu.url %></li>
<% end -%>
<!--
<li><%= link_to '网站建设','/' %></li>
<li><%= link_to '网站设计','/' %></li>
<li><%= link_to '应用制作','/' %></li>
<li><%= link_to '案例演示','/' %></li>
<li><%= link_to '主机租赁','/' %></li>
<li><%= link_to '联系我们','/' %></li>
-->
