<%# add navigation links to this file %>
<% @menus = Menu.all %>
<% @menus.each do |menu| %>
  <li>
    <% if !menu.url.blank? %>
      <%= link_to menu.name, menu.url %>
    <% elsif !menu.page.blank? %>
      <%= link_to menu.name, menu.page %>
    <% elsif !menu.post.blank? %>
      <%= link_to menu.name, menu.post %>
    <% elsif !menu.category.blank? %>
      <%= link_to menu.name, category_path(menu.category) %>
    <% end -%>
  </li>
<% end -%>
<!--
<li><%= link_to '网站建设','/' %></li>
<li><%= link_to '网站设计','/' %></li>
<li><%= link_to '应用制作','/' %></li>
<li><%= link_to '案例演示','/' %></li>
<li><%= link_to '主机租赁','/' %></li>
<li><%= link_to '联系我们','/' %></li>
-->
